@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");


/*modificado*/
body {
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(225, 225, 225);
  font-size: 0.91rem;
  height: 100vh; /* Asegura que el body ocupe el 100% de la altura */
  display: flex;
  flex-direction: column; /* Establece Flexbox en el contenedor */
}
/*________________________________________________*/
/*añadido*/
.container{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
/*____________________________________________________*/

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.banner__title {
  width: 200px;
  height: 200px;
  margin: 370px auto;
}

.banner__title h1 {
  font-size: 100px;
  font-family: fantasy;
  letter-spacing: 10px;
}
/*modificado*/
.banner .slider {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 10%;
  left: 45%;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  transform: translateX(-50%);
}
/*_______________________________________*/

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-20deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-20deg) rotateY(360deg);
  }
}

/*.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
}*/

.banner .slider .item {
  margin-left: calc(25% - 5%); /*añadi esto*/
  position: absolute;
  inset: 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%; /* 100% */
  object-fit: cover;
  border-radius: 40px;
  border: 5px solid rgba(255, 0, 0, 0.8);
  opacity: 0.9;
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.banner .content h1 {
  font-family: "ICA Rubrik";
  font-size: 14em;
  line-height: 1em;
  position: relative;
  background-image: url('./img/fondo-jokers.jpg');
  background-size: cover;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2; /* Asegura que el texto esté sobre otros elementos */
  padding-bottom: 30px; /* Acomoda el texto en la parte inferior */
}


.banner .content h1::after {
  content: attr(data-content);
  position: absolute;
  inset: 0;
  color: transparent;
  -webkit-text-stroke: 3px #ffffff; /* color del borde */
  z-index: -1;
}


.banner .content .author {
  font-family: Poppins;
  text-align: right;
  max-width: 200px;
}

.banner .content h2 {
  font-size: 3em;
}

.banner .content .model {
  /* background-image: url("./img/saliendo.png"); */
  width: 100%;
  height: 50vh; /* 75vh */
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}



/*Añadi media para cmbiar estilos segun el ancho de la pantalla*/

@media (max-width: 1578px) {
  .banner .slider .item img {
    border-radius: 15px;
    border: 2px solid rgba(255, 0, 0, 0.8);
    opacity: 0.9;
  }
  .banner .slider {
    height: 300px; /* 100% */
    left: 40%;
  }
  .banner .content {
    flex-direction: column;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .banner .slider .item {
    margin: 60px;
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(30vw);
  }
}

@media (max-width: 768px) {
  .banner .slider {
    left: 30%;
  }

  .banner .content h1 {
    margin-bottom: 50%;
    font-size: clamp(2rem, 12vw, 8em);
  }

  .banner .slider .item {
    margin: 90px;
  }

}

@media (max-width: 558px) {
  .banner .slider {
    left: 30%;
  }
}

@media (max-width: 474px) {
  .banner .slider {
    width: 260px;
    left: calc(18% - 1%);
  }
    .banner .slider .item {
    margin: 98px;
  }
  .banner .content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}